// ##################################################
// Variables
// ##################################################

// Colors
//

$body-background:        #fff;
$header-background:      #ededed4a;
$gray-base:              #000;
$white:                  #fff;
